.node {
  position: relative;
  > .node-children {
    padding-left: 18px;
  }
  &.open {
    > .node-children {
        display: none;
    }
  }
  &.focus {
    > .node-text {
      &::before {
        content: '';
        background-color: #eee;
        height: 100%;
        left: -5px;
        padding: 2px 5px 1px;
        position: absolute;
        top: 0;
        width: 100%;
        border-radius: 5px;
        z-index: -1;
      }
    }
  }
  &.selected {
    background-color: #D4E8FD;
    > .node-children {
      border-left-color: transparent;
    }
  }
}
